<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hivetracker.ble">

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>

    <application android:allowBackup="true" android:supportsRtl="true">
        <activity
            android:name="com.unity3d.player.UnityPlayerProxyActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            </intent-filter>
        </activity>
        <service android:name="com.hivetracker.ble.RBLService" android:enabled="true" />
    </application>
</manifest>
